/* this is where I am having trouble with the image */
.header {
    background-color: #dddddd;
    background-image:url("../assets/Leadership.jpg");
    /* Add the blur effect
    filter: blur(8px);
    -webkit-filter: blur(8px); */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    color: #fff;
}

.title-ab{
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    font-size: 5rem !important;
    font-weight: 600;
    line-height: 1.125;
}


.about-our-teams-title {
    place-content: center;
}

.container {
    font-size: 2.5rem;
    text-align: center;
    width: 900px;
    margin: auto;
}

.container h3 {
    padding: 20px;
    font-size: 2.0rem;
}

.container p {
    font-size: 1.0rem;
}

.Captain-Bios {
    display: flex;
    align-items: top;
    justify-content: center;
}

.bio {
    position: relative; 
    display: inline-block;
    place-content: top;
    width: 200px;
    height: 750px;
    margin: 10px;
}


.bio-profile-image {
    width: 200px;
    height: 200px;
}

.bio-profile-info {
    text-align: left;
    padding-top: 10px;
    width: 200px;
    height: 100px;
}

.bio-profile-about {
    margin-top: 10px;
    width: 200px;
    height: 470px;
}

.hr-element {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #af123f;
}

.in-touch-button {
    color: #fff;
    background-color: #af123f;
    border-radius: 28px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: 1.0rem;
    font-weight: bold;
    border: none;
}

.in-touch-button:hover {
    background-color: #3e7d98;
}

