$primary: #af123f;
@import "../node_modules/bulma/bulma.sass";

// Ensure footer is at the bottom
main {
  min-height: 100vh;
}

.logoGithub {
  color: #2e333a;
}
.logoFacebook {
  color: #336de1;
}
.logoInstagram {
  color: #db305e;
}

.members {
  .member {
    height: 8rem;
    width: 12rem;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
